body {
    background-color : aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

form {
    width: 500px;
    border: 2px solid azure;
    padding: 30px;
    background:#fff;
    border-radius: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

input {
    display: block;
    border: 2px solid gainsboro;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color:plum;
    font-size: 17px;
    padding: 10px;
 }

 
 button {
     float: right;
     background:rgb(119, 68, 167);
     padding: 10px 15px;
     color: black;
     border-radius: 5px;
     margin-right: 10px;
     border: none;
 }

 button:hover {
     opacity: 0.6;
 }

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}


.success {
    background: #60c5ff;
    color: #00ff73de;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.am {
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    padding: 10px;
    color: darkslategrey;
}

.am:hover {
    text-decoration: underline;
}
